

div {
    width: 400px;
    height: 400px;
    padding: 20PX;

    background-color: orange;

    font-size: 26px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

/*Specificity
(ordem de precendência do estilo)
  1 - inline
  2 - #id
  3 - .class
  4 - type*/